* {
    box-sizing: border-box;
    list-style: none;
    color: white;                                                    /* this is temporary */
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    
}

body {
    display: flex;
    flex-direction: column;
    
}

/*  
body, html {
}

.body-div {
    
}                  */

.body-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    margin: 0;
   
}



img {
    flex: 0 1 0;  /* play around with the first one aka flex grow, later. */
}

.section3-img-card > img:hover {
    transition-duration: 0.3s;
    padding: 1%;
    box-shadow: 0 12px 16px 0 rgba(158, 158, 158, 0.24), 0 17px 50px 0 rgba(158, 158, 158, 0.24);
}

button {
    background-color: #3882F6;
    font-weight: bold;
    transition-duration: 0.3s;
}

.signup-button-1:hover {
    padding: 5%;
    font-size: 101%;
    box-shadow: 0 12px 16px 0 rgba(126, 126, 126, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.signup-button-2:hover {
    padding: 0.5%;
    font-size: 101%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


a:link {
    text-decoration: none;
    
  }
  
  
a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
    transition-duration: 0.3s;
    font-size: 105%;
}


a:active {
    text-decoration: none;
}

section {
    padding: 48px;
}




    .section1 {
        display: flex;
        justify-content: center;
        background-color: #1F2937;
        flex-wrap: wrap;
    }

        .headers {
            display: flex;
            justify-content: space-between;
            padding: 0 20px 0 20px;
            width: 70%;
        }

            .header-logo {
                display: flex; 
            }

                .header-logo > * {
                    font-size: 24px;
                    color: #F9FAF8;
                }
            
            .header-links {
                display: flex;  
                gap: 48px;
            }

                .header-links > li * {
                    color: #e5e7eb;
                }

        
            /* .section1.section2 
                display: flex;
                height: 50vh;
                
            } { */


/* -------------------------------------------------------------- */

        
    .section2 {
        display: flex;
        justify-content: center;
        background-color: #1F2937;
        flex-wrap: wrap;
    }

        .top-box {
            display: flex;
            justify-content: space-between;
            width: 70%;
            flex-wrap: wrap;
            padding: 0 20px 0 20px;
            
            
        }
        
            .top-box-left {
            display: flex;
            flex-direction: column;
            gap: 10px;
            max-width: 400px;
            flex: 1 1 0;
            
            
            }
            
                .top-box-title {
                    font-size: 48px;
                    font-weight: bolder;
                    color: #F9FAF8;
                }

                .top-box-body {
                    font-size: 18px;
                    font-weight: 400;
                    color: #e5e7eb;
                }

                .top-box-left > p {
                    display: flex;
                    flex-wrap: wrap;
                }

                .button-wrap1 {
                    display: flex;
                    justify-content: flex-start;   
                    margin-top: auto;
                    max-width: 100px;
                }

                    .signup-button-1 {
                        min-width: 100px;
                        min-height: 25px;
                        border-style: none;
                        border-radius: 8px;
                        margin-bottom: 16px;
                    }

            .top-box-right {
                display: flex;
                flex-wrap: wrap;
                max-width: 600px;
                max-height: 259.5px;
                flex: 1 1 0;
                                
            }

              






/* ------------------------------------------------------------- */

    .section3 {
        display: flex;
        justify-content: center;
        background-color: white;
        flex-wrap: wrap;
        
        
        /* height: 50vh; */

    }

        .section3-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
            width: 60%;
            flex-wrap: wrap;
            max-width: 1000px;
            gap: 48px;
            flex: 1;
        }
    
             
            .section3-box1 {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                
            }

                .section3-box1 > p {
                    font-size: 36px;
                    font-weight: 900;
                    
                    color: #1F2937;
                }
    
            .section3-box2 {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-bottom: 48px;
                width: 100%;
                flex: 1;
                
                
            }

                .section3-img-card {
                    max-width: 200px;
                    
                }

                

                    .section3-img-card > img {
                        border: solid blue 3px;
                        border-radius: 15px;
                        flex: 1;
                        max-width: 200px;
                        max-height: 200px;
                    }

                    .section3-img-card > p {
                        padding-top: 6px;
                        font-size: 18px;
                        font-weight: 100;
                        color: #1F2937;
                        text-align: center;
                      
                    }






/* ------------------------------------------------------------ */

    .section4 {
        display: flex;
        justify-content: center;
        background-color: #E5E7EB;
        flex-wrap: wrap;
    }

        .section4-wrap {
            display: flex;
            flex-direction: column;
            margin: auto;
            width: 1000px;
            flex-wrap: wrap;
            padding: 48px 32px 48px 32px;
          
        }

            .quote {
                display: flex;
                align-self: center;
                flex-wrap: wrap;
                flex: 1;
              
            }

                .quote > p {
                    font-size: 36px;
                    font-style: italic;
                    font-weight: 300;
                    color: #1F2937;
                }

            .author {
                display: flex;
                justify-content: flex-end;
                margin-top: 20px;
                padding-right: 48px;
                
                
                
            }

                .author > p {
                    color: black;
                }












/* ----------------------------------------------------------- */

    .section5 {
        display: flex;
        justify-content: center;
        background-color: white;
        flex-wrap: wrap;
    }

        .section5-wrap {
            display: flex;
            flex-direction: column;
            margin: auto;
            width: 70%;
            flex-wrap: wrap;
            padding: 48px 20px 48px 20px;
            
            
        }

            .section5-box {
                display: flex;
                align-self: center;
                justify-content: center;
                align-items: center;
                background-color: #3882F6;
                border-radius: 8px;
                
                padding: 32px 32px 32px 32px;
                width: 100%;
                flex-wrap: wrap;
                
                
            }

                .section5-box-content {
                    display: flex;
                    justify-content: space-between;
                    width: 1000px;
                }
                
                /* .section5-paragraphs { 
                    
                } */

                    .section5-paragraph1 {
                        font-weight: bold;
                        
                    }

                    .signup-button-2 {
                        align-self: center;
                        min-width: 100px;
                        min-height: 25px;
                        border: solid white 1px;
                        border-radius: 8px;
                    }


/* -------------------------------------------------------------- */

    .section6 {
        display: flex;
        justify-content: center;
        background-color: #1F2937;
        padding: 30px 0 30px 0;
        
    }

        .section6-wrap {
            display: flex;
        }

            .section6-wrap > p {
                text-align: center;
            }